<div class="flex-container">
    <app-laptops></app-laptops>
    <app-computer></app-computer>
    <app-monitor></app-monitor>
    <app-gaming></app-gaming>
    <app-tablets></app-tablets>
    <app-cablesadapters></app-cablesadapters>
    <app-computerparts></app-computerparts>
    <app-networkingequipment></app-networkingequipment>
    <app-headphones></app-headphones>
    <app-keyboardmouse></app-keyboardmouse>
    <app-accessories></app-accessories>
    <app-printers></app-printers>
</div>


